.navbar{
    justify-content: space-between;
    padding: 16px 40px 16px;
    border-bottom: 1px solid #D7DFE9;
    background-color: #ffffff;
}

.avatar-container{
    align-items: center;
}

.avatar-container img{
    width: 40px;
    margin-left: 32px;
}

.navbar a{
    background-color: #2DCA73;
    color: white;
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}

.mobile-btn{
    display: none;
}



@media screen and (max-width: 450px) {
    .mobile-btn{
        display: block;
        width: 35px;
        height: 35px;
    }
    .avatar-container{
        display: none !important;
    }
    .mobile-avatar-container{
        width: 150px;
        padding: 20px;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        position: absolute;
        top: 77px;
        right: 2px;
    }
    .mobile-avatar-container img{
        width: 40px;
        margin-left: 32px;
    }
    .mobile-avatar-container img{
        margin: 10px auto ;
    }
  }